pre.highlight {
    /* CODE BLOCK STYLE */
    background: #414141;
    margin: 75px -18px;
    padding: 25px 10px;
    font-size: 0.9em;
    border: 1px solid #666;
    border-radius: 5px;
    tab-size: 2;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
	white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    letter-spacing: 0;
    overflow: scroll;
} @media only screen and (max-width: 900px) {
    .language-terminal pre.highlight {
        border-radius: 0;
    }
    pre.highlight {
        font-size: 0.8em;
        border: none;
        margin: 35px -18px;
    }
}

pre.highlight::before {
    content: attr(data-before);
    margin-top: -15px;
    float: right;

    /* LANGUAGE NAME STYLE */
    font-family: 'Roboto Mono', monospace;
    font-size: .8em;
    letter-spacing: 1px;
    color: #3bc47f;
}

.copy-code-button {
  padding: 4px 8px;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid #ccc;
  background: #f8f8f8;
  border-radius: 3px;
}

.copy-code-button.copied {
  background: #4CAF50;
  color: white;
  border-color: #4CAF50;
}